body {
    background-color: #d3d3d3; /* Light grey background for the page */
}

.form {
    padding: 20px;
    text-align: center;
}

.form-container {
    border: 5px solid #333; /* Dark grey border */
    padding: 20px;
    border-radius: 50px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0; /* Grey background */
}

.label {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 105%; /* Increase font size by 5% */
    display: block; /* Make label appear above the corresponding text box */
    margin-bottom: 5px; /* Add some space between label and input */
}

.input {
    background-color: #f0f0f0; /* Light grey background for input boxes */
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}